extends layout/layout

block content
  .container-fluid
    .row
      .col-lg-6
      .col-lg-6
        h3 About Wilburton Pottery
      .col-lg-6.text-center.hidden-xs.hidden-sm
        img(src='./images/about.jpg')
      .col-lg-6
        p.lead Each of our tiles is created individually using one of our hand carved original molds. We use porcelain clay. The tiles are fired twice. The first firing is a bisque firing then, after glaze is applied, they are fired a second time. Because they are fired at a high temperature, the tiles are hardy outdoors even in freezing conditions.
        p Wilburton Pottery had its beginnings fifteen years ago when Bob Jewett experimented in creating garden pottery for his home. He saw the need for pottery that would withstand winter cold and dampness, yet was aesthetically pleasing as well. After a few years of experimentation in designs, construction, and glazes, he developed pottery that served both of these purposes. Using decorative relief patterns, fine glazes, and hand pressing of clay into molds, he created a unique brand of contemporary pottery in the classical tradition.
        p In 1994, Bob turned his hobby into his business. His wife Iris and daughters Laura and Leonora joined him in design and production. They named the business after their neighborhood in Bellevue, Washington.
        p
          a(href="https://www.etsy.com/shop/WilburtonPottery#policies", target="etsy") Shop policies, Payment Methods and Shipping