extends layout/layout

block content
  .container-fluid
    .row
      .col-lg-6
      .col-lg-6
        h3 Contact Us
      .col-lg-6.text-center.hidden-xs.hidden-sm
        img(src='./images/contact.jpg')
      .col-lg-6
        p.lead You can contact us via phone or email with questions.
        p Our studio in Bellevue, Washington is open by appointment.
        p
          i.fa.fa-phone &nbsp;
          a(href="tel:1-425-455-9203") (425) 455 9203
        p
          i.fa.fa-envelope-o &nbsp;
          a(href="mailto:iris@wilburtonpottery.com") iris@wilburtonpottery.com
        p
          i.fa.fa-envelope &nbsp;
          | Wilburton Pottery, PO Box 40161, Bellevue, WA 98015