extends layout/layout

block content
  .container-fluid
    .row
      .col-lg-6
      .col-lg-6
        h3 Something went wrong.
      .col-lg-6.text-center.hidden-xs.hidden-sm
        img(src='/images/about.jpg')
      .col-lg-6
        p Please click on one of the links above to go somewhere else.
