script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js')